h2,h3{line-height:1.5em;-webkit-font-smoothing:subpixel-antialiased}a,body,h3{color:#d7e7f3}h1,h2,h3{-webkit-font-smoothing:subpixel-antialiased}body,div.block:nth-child(1n){background:#061c2d}body,html{margin:0;padding:0}body{font-family:'Work Sans',sans-serif;font-size:22px;line-height:33px;text-align:center}a{text-decoration:none;font-weight:500;-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease}a:hover{color:#fff}h1{font-size:4em;font-weight:200;letter-spacing:1px;text-transform:uppercase;line-height:normal}h2{font-weight:300;font-size:1.3em;color:#779dba}h3{font-weight:500;font-size:1em;margin:80px 0 0}div.block{position:relative;height:80vh;padding:20vh 15vw 0}div.block svg{position:absolute;bottom:50px;width:30px;-webkit-animation:chevronAnimation 4s ease-in-out 0s infinite;-moz-animation:chevronAnimation 4s ease-in-out 0s infinite;-o-animation:chevronAnimation 4s ease-in-out 0s infinite;animation:chevronAnimation 4s ease-in-out 0s infinite}div.block svg path{fill:#7e9aae}div.block:nth-child(2n){background:#052841}div.block:nth-child(3n){background:#05406a}@-webkit-keyframes chevronAnimation{0%,100%{-webkit-transform:translate(0,0) scale(1,1);transform:translate(0,0) scale(1,1)}50%{-webkit-transform:translate(0,5px) scale(.8,.8);transform:translate(0,5px) scale(.8,.8)}}@-moz-keyframes chevronAnimation{0%,100%{-moz-transform:translate(0,0) scale(1,1);transform:translate(0,0) scale(1,1)}50%{-moz-transform:translate(0,5px) scale(.8,.8);transform:translate(0,5px) scale(.8,.8)}}@-o-keyframes chevronAnimation{0%,100%{-o-transform:translate(0,0) scale(1,1);transform:translate(0,0) scale(1,1)}50%{-o-transform:translate(0,5px) scale(.8,.8);transform:translate(0,5px) scale(.8,.8)}}@keyframes chevronAnimation{0%,100%{-webkit-transform:translate(0,0) scale(1,1);-moz-transform:translate(0,0) scale(1,1);-o-transform:translate(0,0) scale(1,1);transform:translate(0,0) scale(1,1)}50%{-webkit-transform:translate(0,5px) scale(.8,.8);-moz-transform:translate(0,5px) scale(.8,.8);-o-transform:translate(0,5px) scale(.8,.8);transform:translate(0,5px) scale(.8,.8)}}@media screen and (max-width:1024px){body{font-size:18px;line-height:27px}}@media screen and (max-width:800px){h1 span{display:block}div.block{height:85vh;padding:15vh 15vw 0}}@media screen and (max-width:420px){body{font-size:12px;line-height:18px}}@media screen and (max-width:360px){h1{font-size:3em}}.fromTopIn{-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease;transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);opacity:1}.fromBottomIn,.fromTopOut{-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease}.fromTopOut{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-ms-transform:translate(0,-10px);-o-transform:translate(0,-10px);transform:translate(0,-10px);opacity:0}.fromBottomIn{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);opacity:1}
.fromBottomOut,.fromLeftIn{
	-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;
	-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
	-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease
}
.fromBottomOut{
	transition:transform 1s ease,opacity 1s ease;
	transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
	-webkit-transform:translate(0,10px);
	-moz-transform:translate(0,10px);
	-ms-transform:translate(0,10px);
	-o-transform:translate(0,10px);
	transform:translate(0,10px);
	opacity:0
}
.fromLeftIn{
	transition:transform 1s ease,opacity 1s ease;
	transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
	opacity:1
}
.fromLeftOut,.fromRightIn{
	-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;
	-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
	-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease
}
.fromLeftOut{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);-ms-transform:translate(-10px,0);-o-transform:translate(-10px,0);transform:translate(-10px,0);opacity:0}.fromRightIn{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);opacity:1}.fromRightOut,.scaleUpIn{-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease}.fromRightOut{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:translate(10px,0);-moz-transform:translate(10px,0);-ms-transform:translate(10px,0);-o-transform:translate(10px,0);transform:translate(10px,0);opacity:0}.scaleUpIn{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);opacity:1}.scaleDownIn,.scaleUpOut{-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease}
.scaleUpOut{
	transition:transform 1s ease, opacity 1s ease;
	transition:transform 1s ease, opacity 1s ease, -webkit-transform 1s ease,-moz-transform 1s ease, -o-transform 1s ease;
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
	-ms-transform:scale(1.3,1.3);
	-o-transform:scale(1.3,1.3);
	transform:scale(1.3,1.3);
	opacity:0
}

.scaleDownIn{transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-ms-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);opacity:1}.scaleDownOut{-webkit-transition:opacity 1s ease,-webkit-transform 1s ease;-moz-transition:transform 1s ease,opacity 1s ease,-moz-transform 1s ease;-o-transition:transform 1s ease,opacity 1s ease,-o-transform 1s ease;transition:transform 1s ease,opacity 1s ease;transition:transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;-webkit-transform:scale(.7,.7);-moz-transform:scale(.7,.7);-ms-transform:scale(.7,.7);-o-transform:scale(.7,.7);transform:scale(.7,.7);opacity:0}