

/*div for holding whole timer*/
#timer{
	padding-top: 70px;
	margin-top: 50px;
	font-size: 50px;
	color: white;
	text-align: center;
}

/*font*/
.font-raleway{
	font-family: "Raleway",sans-serif;
}
/*div for holding only number and text (days, hours, months, seconds)*/
.number-div{
	display: block;
	padding: 10px 10px;
	font-size: 100px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #262626;
}

.logo {
	max-width: 150px;
}

.timerHeader {
	color: white;
	font-size: 70px;
	margin-top: 30px;
	margin-bottom: 80px;
}
#countdownCover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0px;
	left: 0px;
}
/*when columns are one below another, add margin-bottom to every so they do not touch and lower padding in number div*/
@media screen and (max-width: 770px){
	.number-div{
		padding: 5px 5px;
	}
	.number-col{
		margin:7px 7px;
	}
	#footer{
		margin-bottom: 25px;
	}
}